{% extends 'layout.twig' %}


{% block body %}
    <h3>Ajouter un contact</h3>

    <div>
        <form id="formajout">
            <label for="fname">Nom</label>
            <input type="text" id="nom" name="nom" placeholder="Nom">

            <label for="lname">Prénom</label>
            <input type="text" id="prenom" name="prenom" placeholder="Prénom">

            <label for="lname">Description</label>
            <input type="text" id="description" name="description" placeholder="Description">

            <label for="lname">Téléphone</label>
            <input type="text" id="tel" name="tel" placeholder="Numéro de téléphone">

            <label for="lname">Email</label>
            <input type="text" id="email" name="email" placeholder="Email">

            <input type="submit" value="Submit">
        </form>
    </div>


{% endblock %}
