{% extends 'layout.twig' %}


{% block body %}
    <h2>Détail d'un contact</h2>
    <div class="row">

        <div>
            <table>
                <tr>
                    <th>Avatar</th>
                    <th>nom</th>
                    <th>prénom</th>
                    <th>Description</th>
                    <th>tel</th>
                    <th>email</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                <tr>
                    <th>{{ contact.avatar }}</th>
                    <th>{{ contact.nom }}</th>
                    <th>{{ contact.prenom }}</th>
                    <th>{{ contact.description }}</th>
                    <th>
                        {% for tel in contact.tel %}
                            {{ tel.tel }}
                        {% endfor %}
                    </th>
                    <th>{{ contact.email }}</th>
                    <th>
                        <a title="modifier" href="">Modifier</th>
                    </th>
                    <th>
                        <a title="supprimer" href="">Supprimer</th>
                    </th>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}
