{% extends 'layout.twig' %}


{% block body %}
    <h2>Annuaire</h2>
    <div class="row">

        <div>
            <table>
                <tr>
                    <th>Nombre de contacts</th>
                </tr>
                <tr>
                    <th>{{ nbContact }}</th>
                </tr>
            </table>
        </div>

        <div>
            <table>
                <tr>
                    <th>Derniers contacts enregistés</th>
                </tr>
                {% for lastContact in lastContact %}
                    <tr>
                        <th>
                            {{ result.nom }}
                        </th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <form action="http://localhost:3001/addContact" method="GET">
                <button class="button" id="ajoutContact" href="">Ajouter un contact</div>
            </form>
        </div>

    </div>
{% endblock %}
