{% extends 'layout.twig' %}


{% block body %}
    <h2>Annuaire</h2>
    <div class="row">

        <div>
            <table>
                <tr>
                    <th>Avatar</th>
                    <th>nom</th>
                    <th>prénom</th>
                    <th>Description</th>
                    <th>tel</th>
                    <th>email</th>
                </tr>
                {% for result in result %}
                    <tr>
                        <th>{{ result.avatar }}</th>
                        <th>{{ result.nom }}</th>
                        <th>{{ result.prenom }}</th>
                        <th>{{ result.description }}</th>
                        <th>
                            {% for tel in result.tel %}
                                {{ tel.tel }}
                            {% endfor %}
                        </th>
                        <th>{{ result.email }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
