body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body img {
    max-width: 100%; }
  body .card-content {
    border-left: 1px solid rgba(0, 0, 0, 0.125); }
  body .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent center no-repeat;
    background-size: cover;
    display: inline-block; }
  body .card-header > .row {
    align-items: center; }
  body .navbar {
    position: sticky;
    top: 0;
    z-index: 2; }
  body .trending .rateColumn > *,
  body .trending .card-header,
  body .trending figcaption,
  body .trending .card-footer {
    display: none; }
  body .trending .card {
    padding-right: 15px;
    padding-left: 15px;
    height: 100%; }
    body .trending .card .card-content {
      border-left: none; }
    body .trending .card .col-11 {
      flex: 0 0 100%;
      max-width: 100%; }

a {
  color: #00B7FF; }

table, td, th {
  border: 1px solid #ddd;
  text-align: left; }

table {
  border-collapse: collapse;
  width: 100%; }

th, td {
  padding: 15px; }

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; }

/*# sourceMappingURL=style.css.map */
